<h1>Nueva Obra</h1>
<%= form_with model: @obra, local: true do |f| %>
  <p>
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>
  <p>
    <%= f.label :dimensiones, "Dimensiones (ej. 50x70 cm)" %><br>
    <%= f.text_field :dimensiones %>
  </p>
  <p>
    <%= f.label :materiales %><br>
    <%= f.text_field :materiales %>
  </p>
  <p>
    <%= f.label :anio, "Año de creación" %><br>
    <%= f.number_field :anio %>
  </p>
  <p>
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen %>
  </p>
  <p>
    <%= f.submit "Crear Obra" %>
  </p>
<% end %>
<%= link_to 'Volver a Mis Obras', obras_path %>
